<%= javascript_include_tag 'programs' %>

<%= render partial: 'header', locals: {program: @program} %>

<div class='clearfix' >
  <div id='files_container'>
    <div id="files" >
      <ul>
      <% @program.top_level_files.each do |program_file| %>
        <%= output_file_tree(program_file) %>
      <% end %>
      </ul>
    </div>
  </div>

  <div id='file_contents_container'>
    <div id='file_contents' class='codehilite'>
    </div>
  </div>

</div>