<%= javascript_include_tag 'programs' %>

<%= render 'header' %>

<div class='row-fluid' >

  <div id="files" class='span3' style='background: #eee;'>
    <ul style='padding: 10px;'>
    <% @program.top_level_files.each do |program_file| %>
      <%= output_file_tree(program_file) %>
    <% end %>
    </ul>
  </div>

  <div class='span9' style='background: #ddd;'>
    <div id='file_contents' class='pygments'></div>
  </div>

</div>