<div style='margin-bottom: 20px;'>
  <%= link_to 'create new Program', '/programs/new', {class: 'btn btn-primary'} %>
</div>

<% if @programs %>

  <table class='table table-bordered list-table'>
  <% @programs.each do |program| %>
    <tr>
      <td>
        <%= link_to program.name, program_path(program.id) %> 
        <%= link_to "<i class='icon-remove'></i>".html_safe, program, 
          {
            method: :delete, 
            class: 'delete-btn',
              data: { confirm: "You sure?"}
            }
        %>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>