
<%= link_to 'create new', '/programs/new', {class: 'btn btn-primary'} %>

<% if @programs %>
  
  <h2>programs</h2>
  <table class='table table-striped'>
  <% @programs.each do |program| %>
    <tr>
      <td>
        <%= link_to program.name, program_path(program.id) %> 
        <%= link_to "delete", program, 
          {
            method: :delete, 
            class: 'pull-right btn btn-small btn-warning',
              data: { confirm: "You sure?"}
            }
        %>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>