<%= render partial: '/programs/header', locals: {program: @program} %>

<%= link_to 'create new', "/programs/#{@program.id}/subjects/new", {class: 'btn btn-primary'} %>

<% if @program.subjects %>
  
  <h2>subjects</h2>
  <table class='table table-striped'>
  <% @program.subjects.each do |subject| %>
    <tr>
      <td>
        <%= link_to subject.name, program_subject_path(@program.id, subject.id) %> 
        <%= link_to "delete", program_subject_path(@program.id, subject.id), 
          {
            method: :delete, 
            class: 'pull-right btn btn-small btn-warning',
              data: { confirm: "You sure?"}
            }
        %>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>