
#memo_create_dialog {
  textarea {
    width: 98%;
    height: 200px;
  }
}
.memos {
  width: 420px;
}

.memo {
  margin-bottom: 10px;
  border: 1px solid #ddd;

  border-radius: 5px;
}

.memo_header {
  padding: 3px 6px;
  font-size: 11px;
  background: #e2fbfc;
}

.memo_content {
  padding: 10px;
}

.memo_content_edit {
  width: 380px;
}
.memo_edit_area {
  padding: 10px;
}