
#files_container {
  width: 25%;
  float: left;
}

#files{

  ul{
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    padding: 3px 10px;
    margin: 0;

    background: #fff;

    &:hover{
      background:$light_blue_color;
    }
  }

  a{
    color: $main_font_color;

    &:hover{
      text-decoration: none;
    }
  }

  .child_files{
    padding-left: 14px;
  }

  .file_name{
  &:before{
      content:"- "
    }
    margin: 0 0 0 4px;
  }

  .dir_name{
    padding-left: 20px;
    background: url(/assets/dir_close.png) no-repeat;
    background-size: 12px auto;
    background-position: left center;
  }
}

#file_contents_container {
  float: left;
  width: 75%;
}

#file_contents {

  border-radius: 5px;
  padding: 6px;
  background: #fff;
  border: 1px solid #eee;

  pre {
    background: none;
    border: none;
    font-family: sans-serif;
  }
}

.linenodiv pre {
  color: #aaa;
}
