@import "bootstrap";

 $main_font_color: #444;

 $light_blue_color: #e8fafa;

.navbar-inner{
  @include border-radius(0);

  .container{
    width: $gridRowWidth;
  }
}

#logo{
  font-size: 18px;
  float: left;
  padding-top: 11px;
  color : #ddd;
}

h1 {
  padding: 10px;
  border: 1px solid #ddd;
  border-width: 1px 0 1px 0;

  font-size: 20px;
  margin-top: 10px;
  line-height: 20px;
  font-weight: normal;
  background: #fafafa;

  a {
    color: $main_font_color;
  }
}

h2 {
  padding: 4px 0 4px 10px;
  border-left: 4px double #ddd;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;

  a {
    color: $main_font_color;
  }
}

.list-table{
  width: 600px;

  a {
    display: block;
    float: left;
    width: 540px;
  }

  .delete-btn {
    float: right;
    width: 20px;
  }
}
